@model IEnumerable<ShoppingCartDAL.Models.Product>
@{
    ViewData["Title"] = "Home Page";
}

<div>
    <a asp-controller="ShoppingCart">Go to shopping cart</a>
</div>
@foreach (var item in Model)
{
    <div>
        @Html.DisplayFor(modelItem => item.Name)
        @Html.DisplayFor(modelItem => item.Price)
        <a class="button" asp-controller="ShoppingCart" asp-action="Add" asp-route-productid="@item.Id">Add</a>
    </div>

}

